<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>

    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <spring>
    
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    
    <context>
      <resource uri="assembly://DASP.DataAccess/DASP.DataAccess.Config/RepositoryBase.xml"/>
      <resource uri="assembly://DASP.DataAccess/DASP.DataAccess.Config/Repository.xml"/>
      <resource uri="assembly://DASP.Business/DASP.Business.Config/BusinessBase.xml"/>
      <resource uri="assembly://DASP.Business/DASP.Business.Config/Business.xml"/>
      <resource uri="config://spring/objects" />
    </context>

    <!--必要-->
    <objects xmlns="http://www.springframework.net" />
  </spring>

  <!--Log4Net配置-->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] %logger - %message%newline"/>
      </layout>
    </appender>
    <!-- Set default logging level -->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <!-- Set logging for Spring.Aspects -->
    <logger name="Spring.Aspects">
      <level value="DEBUG"/>
    </logger>
    <!-- Set logging for Spring.Calculator -->
    <logger name="Spring.Calculator">
      <level value="DEBUG"/>
    </logger>
    <!-- Set logging for Spring -->
    <logger name="Spring">
      <level value="INFO"/>
    </logger>
  </log4net>


  <!--数据库连接字符串-->
  <databaseSettings>
    <add key="db.datasource" value="127.0.0.1" />
    <add key="db.database" value="DASPDB" />
    <add key="db.user" value="sa" />
    <add key="db.password" value="test" />
  </databaseSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.4000" newVersion="2.1.2.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
